<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Toy">
<!-- call을 Home.selectFromANSWERSByQUESTIONS_UID 로 호출 -->
    <select id="selectFromUserdataByUSER_UID" 
    parameterType="Map" resultType="Map">
        SELECT * 
        FROM userdata
        <!-- WHERE QUESTIONS_UID = #{QUESTION_UID} -->
    </select>

    <!-- delete / call Toy.deleteByUID-->
    <delete id="deleteByUID" parameterType="Map">
        DELETE FROM USERDATA
        WHERE USER_UID = #{USER_UID}
        <!-- POST로 받아서 MAP에 PUT한 USER_UID값과 일치하는 DATA삭제 -->
    </delete>

    <!-- insert / call CommonCodeOur.insertWithUID-->
   <insert id="insertWithUID" parameterType="Map">
    INSERT INTO USERDATA (USER_UID, NAME, ID, PASSWORD, PHONE_NUMBER, BIRTHDAY, EMAIL, SMS_AD, EMAIL_AD)
    VALUES ('U1', #{NAME}, #{ID},  #{PASSWORD},  #{PHONE_NUMBER}, #{BIRTHDAY}, #{EMAIL}, #{SMS_AD}, #{EMAIL_AD});
    </insert>
</mapper>